@{
  Layout = "_Layout";
}

<h1>Noel's Bakery</h1>
<h2>Use this web application to track all of the bakery's orders and the vendors associated with those orders</h2>

<p><a href='/vendors'>View Vendors</a></p>