@{
  Layout = "_Layout";
}
@using Bakery.Models;

<h3>Here are all the orders for this vendor:</h3>

<ol>
@foreach (Order order in @Model["orders"])
{
  <li><a href='/vendors/@Model["vendor"].Id/orders/@order.Id'>@order.Title</a></li>
}
</ol>