@{
  Layout = "_Layout";
}
@using Bakery.Models;

<h3>Here are all the orders for @Model["vendor"].Name:</h3>

@if (@Model["vendor"].Id == 0)
{
  <h3>No orders have been added yet!</h3>
}

<ol>
@foreach (Order order in @Model["orders"])
{
  <li><a href='/vendors/@Model["vendor"].Id/orders/@order.Id'>@order.Title</a></li>
}
</ol>
<p><a href='/vendors/@Model["vendor"].Id/order/new'>Add a new order</a></p>
<p><a href='/vendors'>Return to category list</a></p>
<p><a href='/'>Return to Main Page</a></p>